html{
	background: url("./assets/Untitled.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	background-size: 100% 100%;
}


.contain{
      display:flex;
      align-items:flex-start;
      align-items:flex-end;
      align-items:center;
      flex-direction:column;
      flex-basis: 27%
}

.title{
	padding-top: 20px;
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	color: #0803BC;
}

.question{
	padding: 20px;
	font-size: 22px;
	background: black;
	border-radius: 20px;
	margin: 10px 0 10px 0;
	color: white;

}

.choice{
	width: 470px;
	display: inline-block;
	padding: 10px 0 10px 0;
	vertical-align: middle;
	background: black;
	margin: 10px 0 10px 10px;
	color: white;
	border-radius: 20px;
}

.nextButton{
	border: none;
	outline: none;
	width: 100px;
	height:30px;
	border-radius: 20px;
	cursor: pointer;
	float: right;
	margin: 10px;
}

.result{
	  display:flex;
      align-items:flex-start;
      align-items:flex-end;
      align-items:center; 
      flex-direction:column;
}

